html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
}

h1 {
	font-family: helvetica;
}

p {
	font-family: helvetica;
	margin-left: .75em;
	margin-right: .75em;
	min-width: 260px;
}

li {
	font-family: helvetica;
	padding-left: 5px;
	padding-right: 5px;
}

.mike {
	max-height: 150px;
	margin-top: 50px;
}

.s-media {
	display: inline;
}

ul {
	padding-left: 0px;
	margin-top: 50px;
}

.t-center {
	text-align: center;
}

.b-ground {
	position: absolute;
	background-size: 100%
}